
.navbar {
  background-color: #0a4275;
}

.dropdown-menu {
  background-color: #0a4275;
}

.dropdown-item:hover {
  background-color: blueviolet;
}

.activado{
  color: #28a745;
}

.nav-item,a{
  color: honeydew;
}
